body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background: url("C:\Users\siddh\Documents\devathon\bg.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: "Montserrat", "Raleway", sans-serif;
}

main {
	background-color: rgba(225, 225, 225, 0.25);
	max-width: 520px;
	border: solid 0.1px rgba(5, 5, 5, 0.1);
	width: 80%;
	height: fit-content;
	margin: 100px auto 20vh;
	-webkit-box-shadow: 3px 3px 5px 6px rgba(5, 5, 5, 0.05);
	-moz-box-shadow: 3px 3px 5px 6px rgba(5, 5, 5, 0.05);
	box-shadow: 3px 3px 5px 6px rgba(5, 5, 5, 0.05);
	border-radius: 5px;
	padding-bottom: 4vh;
	backdrop-filter: blur(6px);
	/* -webkit-backdrop-filter: blur(8px); */
}


#login-box {
	display: inline-block;
	padding: 22px 58px 0px;
	position: relative;
	margin-top: 40px;
	animation: fadeInAnimation3 ease-in-out 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.responsive-img {
	width: 30%;
	height: 30%;
	animation: fadeInAnimation ease 1.5s;
}

button {
	width: 250px;
	margin: auto;
	font-size: 18px;
	padding: 2px 0px !important;
	height: fit-content !important;
	opacity: 0.9;
	letter-spacing: 0.7px;
	text-transform: capitalize !important;
}

button:hover {
	font-weight: 600;
	transition: 0.5s;
	opacity: 1;
}

h4 {
	max-width: 80%;
	margin-top: 55px;
	font-size: 44px;
	font-weight: 400;
	letter-spacing: 2px;
	animation: fadeInAnimation2 ease 4s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@media only screen and (max-width: 550px) {
	main {
		background-color: rgba(250, 250, 250, 0.45);
	}

	.responsive-img {
		width: 30%;
		height: 20%;
	}
	button {
		width: 200px;
		margin: auto;
	}

	h4 {
		font-weight: 450;
		font-size: 36px;
	}
}
